<%- include('../includes/head.ejs') %>
    <div class="container">
        <%- include('./dashboard-includes/sidebar.ejs') %>
            <main class="main modalMain">
                <%- include('./dashboard-includes/addFormModal.ejs') %>
                    <%- include('./dashboard-includes/topbar.ejs') %>
                        <!-- WORKSPACE NAME HEADER -->
                        <form action="/newSurvey" method="post">
                            <!-- SURVEY HEADER -->
                            <%- include('./new-survey-page-includes/survey-header.ejs')%>
                                <!-- <div class="getError">
                                    <p>Please fill all the required fields to continue</p><button
                                        id="closeErrorContainer" type="button"><i class="bi
                                                    bi-x"></i></button>
                                </div> -->
                                <!-- SURVEY SETTINGS -->
                                <div class="survey-settings">
                                    <div>
                                        <p>Accepting Responses</p>
                                        <button type="button" class="toggleBtn">
                                            <span class="toggleActive"></span></button>
                                        <input type="hidden" value="Yes" name="acceptingResponses">
                                    </div>
                                    <div>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <p>Share Globally</p>
                                        </label>
                                        <button type="button" class="toggleBtn unchecked">
                                            <span class="toggleActive"></span></button>
                                        <input type="hidden" value="No" name="shareGloabally">
                                    </div>
                                </div>
                                <div class="survey-container">
                                    <!-- Form 1 Survey Details -->
                                    <%- include('./new-survey-page-includes/survey-form-1-intro.ejs')%>
                                        <!-- Form 2 General Question-->
                                        <%- include('./new-survey-page-includes/survey-form-2-general-question.ejs')%>
                                            <!-- Form 3 - MCQ -->
                                            <%- include('./new-survey-page-includes/survey-form-3-MCQ-question.ejs')%>
                                </div>
                                <div style="display: none;">
                                    <button style=" display: hidden;" id="#submitForm" type="submit"></button>
                                </div>
                        </form>
                        <%- include('./dashboard-includes/footer.ejs')%>
            </main>
    </div>
    <script src="/js/surveyForm.js"></script>
    <script src="/js/updateImageSurvey.js"></script>
    <script src="/js/mcqChoice.js"></script>
    <%- include('../includes/end.ejs') %>