<%- include('../includes/head.ejs') %>
    <div class="container">
        <%- include('./dashboard-includes/sidebar.ejs') %>
            <main class="main">
                <%- include('./dashboard-includes/topbar.ejs') %>
                    <!-- WORKSPACE NAME HEADER -->
                    <div style="padding:20px;width:97%;display:flex; justify-content:space-between; align-items: center;border-bottom: 1px solid rgba(51, 51, 51, 0.539); margin: auto;"
                        class="dashboard-header">
                        <h2 class="pageHeading">Surveys</h2>
                        <a class="btn2 newSurveyBtn" href="/newSurvey"> Start New Survey <i
                                class="bi bi-plus-square-fill"></i></a>
                    </div>
                    <!-- RECENT SURVEYS -->
                    <div style="padding:10px 20px; color:gray; padding-bottom: 0;display:flex; justify-content:space-between; align-items: center;width:
                    97%;margin: auto;">
                        <h2>Your Surveys</h2>
                    </div>
                    <!-- Surveys -->
                    <% surveys.forEach(survey=>{%> <div class="survey-card">
                            <div class="survey-card-image">
                                <img src="<%= survey.thumbnailImage%>" alt="">
                            </div>
                            <div class="survey-card-content">
                                <h1>
                                    <%= survey.name%>
                                </h1>
                                <p style="word-wrap: break-word;">
                                    <%= survey.description%>
                                </p>
                                <div class="grids-data">
                                    <div>
                                        <p class="survey-card-type">Status: </p>
                                        <p class="survey-card-general">
                                            <% if(survey.acceptingResponses==='Yes' ){%> Active <div
                                                    class="status-active"></div>
                                                <%}else{%> Closed <div class="status-inactive"></div>
                                                    <%}%>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="survey-card-type">No of questions: </p>
                                        <p class="survey-card-general">
                                            <%= survey.numOfQues%>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="survey-card-type">Date Created: </p>
                                        <p class="survey-card-general">
                                            <%= survey.dateCreated%>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="survey-card-type">Last Updated: </p>
                                        <p class="survey-card-general">
                                            <%= survey.lastUpdated%>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="survey-card-type">Form Type: </p>
                                        <p class="survey-card-general">
                                            <% if(survey.shareGlobally==='Yes' ){%> Public <% }else{%> Private <% }%>
                                        </p>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content:space-between">
                                    <div class="survey-card-buttons">
                                        <a class="icon-button viewBtn" href="/viewSurvey/<%= survey._id%>"><i
                                                class="bi bi-eye"></i>
                                            View</a>
                                        <a class="icon-button shareBtn" href="/shareSurvey/<%= survey._id%>"><i
                                                class="bi bi-share"></i></a>
                                    </div>
                                    <div class="survey-card-buttons">
                                        <a class="icon-button editBtn" href="editSurvey/<%= survey._id%>"><i
                                                class="bi bi-pencil-square"></i>Edit</a>
                                        <form action="/deleteSurvey/<%= survey._id%>" method="post">
                                            <button type="submit" class="deleteBtn icon-button"><i
                                                    class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% })%>
                            <%- include('./dashboard-includes/footer.ejs') %>
            </main>
    </div>
    <script src="/js/adjustHeight.js"></script>
    <%- include('../includes/end.ejs') %>