<%- include('../includes/head.ejs') %>
    <div class="container">
        <%- include('./dashboard-includes/sidebar.ejs') %>
            <main class="main modalMain">
                <%- include('./dashboard-includes/addFormModal.ejs') %>
                    <%- include('./dashboard-includes/topbar.ejs') %>
                        <!-- WORKSPACE NAME HEADER -->
                        <form id="viewMode" action="/postResponse" method="post">
                            <!-- SURVEY HEADER -->
                            <div style="padding:20px;width:97%;display:flex; justify-content:space-between; align-items:center;border-bottom: 1px solid rgba(51, 51, 51,0.539); margin: auto;"
                                class="dashboard-header">
                                <%if(!responseMode){%>
                                    <h2 class="pageHeading"><a style="color: blue;" href="/surveys">Surveys</a> /
                                        <%if(!viewMode){%>
                                            <%=editMode?"Edit":"New"%> Survey
                                                <%}else{%>
                                                    <%= survey.name%>
                                                        <%}%>
                                    </h2>
                                    <%}else{%>
                                        <h2><a style="color: blue;" href="/responses">Responses</a> /
                                            <%=survey.username%>
                                        </h2>
                                        <%}%>
                                            <button style="display: none;" class="btnPublish" id="submitBtnCheck"
                                                type="button">Submit</button>
                            </div>
                            <div class="survey-container">
                                <!-- Form intro -->
                                <div class="survey-form">
                                    <input type="hidden" value="0" name="questionNumber" class="questionNumber">
                                    <div class="flex-question-sidebar">
                                        <div style="width: 100%;" class="form-question-card intro-card">
                                            <div class="intro-card-thumbnail">
                                                <img id="thumbnailImage"
                                                    src="<%if(responseMode){%><%= surveyData.thumbnailImage%><%}else{%><%= survey.thumbnailImage%><%}%>"
                                                    alt="">
                                            </div>
                                            <div class="intro-card-content">
                                                <label style="display: none;" for=""><span id="questionNum"><i
                                                            class="bi bi-arrow-right"></i>
                                                        <span class="questionNum">0</span></span></label>
                                                <%if(responseMode){%>

                                                    <p style="color: gray;"> Survey Owner: <%= surveyData.author%>
                                                    </p>
                                                    <%}%>

                                                        <h1>
                                                            <%if(responseMode){%>
                                                                <%= surveyData.name%>
                                                                    <%}else{%>
                                                                        <%= survey.name%>
                                                                            <%}%>
                                                        </h1>
                                                        <p>
                                                            <%if(responseMode){%>
                                                                <%= surveyData.description%>
                                                                    <%}else{%>
                                                                        <%= survey.description%>
                                                                            <%}%>
                                                        </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%- include('./view-survey-page-includes/survey-form-head')%>
                                    <div class="userInfo">
                                        <h2 class="viewQuestion">Enter Name</h2>
                                        <input class="validateRequired userDetails" type="text"
                                            value="<%if(responseMode){%> <%=survey.username%><%}%>"
                                            placeholder="Japneet Singh" value="" name="userName">
                                        <h2 class="viewQuestion">Enter Email</h2>
                                        <input class="validateRequired userDetails" type="text"
                                            value="<%if(responseMode){%> <%=survey.email%><%}%>"
                                            placeholder="xyz@gmail.com" name="userEmail">
                                    </div>

                                    <%- include('./view-survey-page-includes/survey-form-end')%>

                                        <% var questions=survey.questionsData; questions.forEach(question=>{
                                            data=question;
                                            if(question.type==='MCQ'){ %>
                                            <!-- FORM  MCQ -->
                                            <%- include('./view-survey-page-includes/survey-form-MCQ-question')%>
                                                <% }else if(question.type===`contactNumber`){ %>
                                                    <!-- FORM Contact -->
                                                    <%-
                                                        include('./view-survey-page-includes/survey-form-contact-question')%>
                                                        <% }else if(question.type===`generalQuestion`){%>
                                                            <!-- FORM GENERAL QUESN -->
                                                            <%-
                                                                include('./view-survey-page-includes/survey-form-general-question')%>
                                                                <% }else if(question.type===`link`){%>
                                                                    <!-- Form Link -->
                                                                    <%-
                                                                        include('./view-survey-page-includes/survey-form-link-question')%>

                                                                        <% } }) %>
                            </div>
                            <div style="display: none;">
                                <button style="display: hidden;" id="#submitForm" type="submit"></button>
                            </div>
                            <input type="hidden" name="surveyId" value="<%=survey._id%>">
                        </form>
                        <%- include('./dashboard-includes/footer.ejs')%>
            </main>
    </div>
    <script src="/js/surveyForm.js"></script>
    <script src="/js/mcqForm.js"></script>
    <%- include('../includes/end.ejs') %>